body {
  color: #000;
}

.menu li > a.link{
  color: #aeaeae;
}

.menu li:hover > a.link{
  color: blue;
}

.sub-menu li:hover > a.link{
  color: #333;
}

.menu li > a.link.active{
  color: blue;
}

.slick-wrapper .slick-dots li.slick-active button:before{
  background-color: red;
}

.lasted-articles .slick-dots li button:before{
  background-color: #ccc;
}

.article-header:before{
  background-color: red;
}