.impressive-articles {
    position: relative;
}

.article {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.article .thumbnail-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: inline-block;
}

.article .thumbnail-image {
    position: relative;
    overflow: hidden;
}

.article .thumbnail-image:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    transition: all .7s;
}

.impressive-articles .article:hover .thumbnail-image:after {
    background-color: #000;
    top: 0;
    opacity: .3;
}

.article .article-thumbnail .thumbnail-image:before {
    content: '';
    display: block;
    padding-top: 50%;
}

.article .article-thumbnail .category {
    color: #fff;
    font-weight: 500;
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 30px;
    padding: 3px 15px;
    background-color: blue;
    text-transform: uppercase;
}

.article .article-thumbnail .category .link {
    text-decoration: none;
    color: inherit;
}

.impressive-articles .article .article-content {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    color: #fff;
    z-index: 10;
    padding: 40px 20px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, .8) 60%, rgba(0, 0, 0, .1));
}

.impressive-articles .article-content .article-title {
    font-size: 24px;
}

.impressive-articles .article-content .article-title .link {
    color: inherit;
    text-decoration: none;
}

.impressive-articles .advertisement {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 15px;
    left: 15px;
    /* overflow: hidden; */
}

.impressive-articles .advertisement:before {
    content: 'Advertisement';
    display: block;
    font-size: 11px;
    font-weight: 400;
    position: absolute;
    top: -15px;
    right: 0px;
}

.impressive-articles .advertisement img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* LASTED NEWS */

.article-header {
    font-size: 25px;
    position: relative;
    margin-bottom: 20px;
    color: #525b6e;
}

.article-header:before {
    content: '';
    display: block;
    position: absolute;
    bottom: -10px;
    width: 50px;
    height: 2px;
    z-index: 20;
}

.article-header:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -10px;
    right: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ccc;
    z-index: 10;
}

.article {
    background-color: #fff;
}

.lasted-articles .article .category {
    top: 20px;
    right: 20px;
}

.article-content {
    padding: 20px 20px 30px 20px;
}

.article-content .published-date {
    font-size: 14px;
    margin-bottom: 5px;
}

.lasted-articles .article-content .published-date, .top-10-articles .article-content .published-date, .most-view .article-content .published-date {
    color: rgb(110, 110, 110);
}

.article-content .link {
    color: inherit;
    text-decoration: none;
    transition: all .3s ease;
}

.article-content .link:hover {
    color: rgb(110, 110, 110);
}

.lasted-articles .article-thumbnail .thumbnail-image:before {
    padding-top: 60%;
}

.lasted-articles .article-thumbnail {
    transition: all .7s ease;
}

.lasted-articles .slick-wrapper:hover .article:not(:hover) .article-thumbnail{
    opacity: .4;
}

.lasted-articles .slick-wrapper:hover .article:not(:hover) .thumbnail-image img{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(70%);
}

.lasted-articles .thumbnail-image img, .top-10-articles .thumbnail-image img, .most-view .thumbnail-image img {
    transition: all .7s ease;
}

.lasted-articles .thumbnail-image:hover img, .top-10-articles .thumbnail-image:hover img, .most-view .thumbnail-image:hover img {
    transform: scale(1.3);
}

.lasted-articles .slick-dots li button:before{
    background-color: #ccc;
  }

/* MOST VIEW */

.most-view .article {
    padding: 20px;
    border-radius: 0;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    border-bottom: 1px solid #ccc;
}

.most-view .article-thumbnail {
    width: 40%;
}

.most-view .article-content {
    width: 60%;
    padding: 0;
    margin-left: 20px;
}

.most-view .published-date {
    font-size: 12px;
}

.most-view .article-title .link {
    font-size: 14px;
}

.most-view .category {
    font-size: 16px;
    color: #525b6e;
    margin-bottom: 5px;
}

.most-view .article:last-child {
    border-bottom: 0;
}

.article-title>.link {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* LIST TAGS */

.list-tags .tags {
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
}

.list-tags .tags .link {
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
}

/* sidebar */
.widget-sidebar .sidebar-wrapper{
    position: absolute;
    top: 0;
}