#header {
  background-color: #fff;
  box-shadow: 0px 2px 20px 0px #ccc;
  position: relative;
  z-index: 100;
}

#header .top-header{
  border-bottom: 1px solid #ccc;
}

#header .top-header .row > .col{
  border-right: 1px solid #ccc;
}

#header .top-header .main-logo {
  max-width: 50px;
}

#header .top-header .current-date{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  width: 100%;
  height: auto;
  display: inline-block;
}

/* nav */
#nav-search{
  border-bottom: 1px solid #ccc;
}
/* menu */
.menu , .sub-menu{
  list-style-type: none;
  margin: 0;
}
.menu > li{
  display: inline-block;
}
.menu li{
  position: relative;
}

.menu li > a.link{
  display: block;
  padding: 15px 15px;
  text-decoration: none;
  font-weight: 500;
  color: #495057;
}
.menu .sub-menu {
  display: none;
  min-width: 200px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.menu .sub-menu > li{
  display: block;
}

.menu .sub-menu li > a.link{
  padding: 5px 20px;
}

#nav-search > .container > .row > [class*="col"]{
  display: flex;
  align-items: center;
}

.menu li:hover > .sub-menu{
  display: block;
  position: absolute;
  background-color: #fff;
  top: calc(100% + 1px);
}


/* search */

.search-box{
  position: relative;
  width: 100%;
  justify-content: flex-end;
}

.search-box .search-bar{
  transition: all .3s ease;
}
.search-box .search-bar:focus{
  flex-grow: 1;
}